<div class="container">
    <div class="card justify-content-md-center">
    <div class="card-header">
      <h2> S'inscrire </h2>
    </div>
       <div class="card-body">
    <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="ali..">
            <label for="floatingInput"> Nom</label>
          </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" placeholder="ali@gmail.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="Password">
        <label for="floatingPassword"> Confirme password </label>
      </div>
    <div></div>
    <div class="form-floating mb-3"> 
        <button type="button" class="btn btn-primary"> S'inscrire </button> 
        <a [routerLink]="['/login']" type="button" class="btn btn-link" > Connecter </a>
    </div>
    </div>
    </div>
    </div>
