<div class="container">
<div class="card justify-content-md-center">
<div class="card-header">
  <h2> Se connecter </h2>
</div>
   <div class="card-body">

<div class="form-floating mb-3">
    <input type="email" class="form-control" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
<div></div>
<div class="form-floating"> 
    <button type="button" class="btn btn-primary"> Connecter </button> 
    <a [routerLink]="['/inscrire']"  class="btn btn-link" > S'iniscrire </a>
</div>
</div>
</div>
</div>